.app-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #040718;

  .app-content {
    height: 100%;
    width: 90%;
    /* background-color: red; */
    margin: auto;

    .app-header {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* gap: 12px; */

      .app-title {
        color: white;
        font-size: 48px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .app-subtitle {
        color: rgb(133, 137, 137);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
      }
    }

    .app-main {
      height: 80%;
    }

    @media (max-width: 768px) {
      width: 95%;

      .app-header {
        height: auto;
        padding: 40px 10px;
        text-align: center;

        .app-title {
          font-size: 36px;
        }

        .app-subtitle {
          font-size: 20px;
        }
      }

      .app-main {
        height: auto;
      }
    }
  }
}